* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  a {
    list-style-type: none;
    color: inherit;
  }

  /*폰트*/
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}