@font-face {
  font-family: "SCoreDream-light";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "SCoreDream-normal";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "SCoreDream-bold";
  font-weight: 600;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.ttf")
      format("truetype");
  font-display: swap;
}
* {
  font-family: "SCoreDream-normal";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  list-style-type: none;
  color: inherit;
  text-decoration: none;
}
header {
  width: 100%;
  height: 130px;
  background-color: #fff;
  border-bottom: 1px solid black;
  margin: 0px auto;
}

h1 {
  padding: 40px;
  font-weight: 500;
  color: black;
  font-style: normal;
  font-size: 30px;
}
.menu {
  position: fixed;
  right: 20px;
  top: 40px;
}

#menuIcon {
  cursor: pointer;
  position: relative;
  right: -40px;
}

#menus_show {
  width: 80px;
  overflow: hidden;
  position: relative;
  right: 18px;
  padding: 10px 0px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  background-color: rgb(124, 124, 124);
  opacity: 0;
}
.menu:hover #menus_show {
  opacity: 1;
  transition-duration: 0.5s;
}
.menu a {
  position: relative;
  width: 80px;
  font-size: 15px;
  text-align: center;
}
.menu a:hover {
  text-decoration-line: underline;
  background-color: antiquewhite;
}
footer {
  width: 100%;
  height: 200px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(40, 40, 40);
  color: white;
}
footer h3 {
  font-size: 30px;
  font-weight: 600;
}
.members {
  padding-top: 70px;
  display: flex;
  gap: 20px;
}
