@font-face {
  font-family: "SCoreDream-light";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamLight.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "SCoreDream-normal";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamMedium.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "SCoreDream-bold";
  font-weight: 600;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/score/SCoreDreamBold.ttf")
      format("truetype");
  font-display: swap;
}
* {
  font-family: "SCoreDream-normal";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 1000px;
}
a {
  list-style-type: none;
  color: inherit;
  text-decoration: none;
}
.top {
  width: 100%;
  height: 15px;
  background-color: rgb(199 231 44);
}
header {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
}
#header {
  width: 100%;
  border-bottom: 1px solid black;
}
header h1 {
  font-size: 28px;
  font-weight: 600;
  margin: 0 auto;
  margin-left: 70px;
}
.menuButton {
  width: 210px;
  height: 30px;
  display: flex;
  justify-content: space-around;
}
#category-1,
#category-2,
#category-3 {
  font-size: 15px;
  position: relative;
  width: 70px;
  height: 30px;
  line-height: 30px;

  color: #37474f;
  text-align: center;
}
#category-1::before {
  content: "팀소개";
}
#category-2::before {
  content: "팀원소개";
}
#category-3::before {
  content: "갤러리";
}
#category-1::before,
#category-2::before,
#category-3::before {
  display: inline-block;
  position: absolute;
  background-color: #37474f;
  color: white;
  font-size: 15px;
  width: 100%;
  height: 100%;
  line-height: 30px;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
  transform: scale3d(0.7, 1, 1);
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
#category-1:hover::before,
#category-2:hover::before,
#category-3:hover::before {
  opacity: 1;
  z-index: 1;
  transform: scale3d(1, 1, 1);
}

/*footer css*/
footer {
  width: 100%;
  height: 200px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  background-color: #151515;
  background-size: cover;
}
footer h3 {
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.members {
  display: flex;
  align-items: center;
  display: flex;
  gap: 20px;
}
.members a {
  transition-duration: 0.4s;
}
.members a:hover {
  color: rgb(199 231 44);
  transform: scale(1.1);
}

/* scroll */

/* 프로그래스바 */
.progressbar {
  position: fixed;
  /* 페이지 상단에 프로그레스바 고정 */
  height: 15px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  background-color: rgb(199 231 44);
}
.progressbar > .progress {
  width: 0%; /* 프로그래스바 진행 정도 */
  height: 100%;
  transition: width 0.3s ease; /* 부드러운 가속도 애니메이션 추가 */
  background-color: rgb(255, 154, 231);
}
