* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(255, 248, 239);
}

a {
  list-style-type: none;
  color: inherit;
}

.header h2 {
  width: 500px;
  text-align: center;
  margin: 50px auto;
  font-weight: 300;
  font-size: 30px;
}

.header {
  width: 100%;
  height: 600px;
}

.memberIntroduce {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.image > img {
  width: 300px;
  height: 500px;
  margin-top: 30px;
}

.introBox {
  margin-bottom: 80px;
  width: 700px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.box {
  border-radius: 8px;
  width: 230px;
  height: 100px;
  background-color: rgb(210, 233, 253);
  text-align: center;
  line-height: 1.5rem;
  box-shadow: 3px 3px 3px gray;
  overflow: scroll;
  -ms-overflow-style: none;
}
.box::-webkit-scrollbar {
  display: none;
}
.box1 {
  text-align: center;
  line-height: 100px;
}

.box5 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.box5 img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.box2 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.box3 {
  grid-column: 3/4;
  grid-row: 3/4;
}

.box4 {
  grid-column: 2/3;
  grid-row: 4/5;
}

.box5 {
  grid-column: 1/2;
  grid-row: 5/6;
}

/************************ 방명록 css ************************/
#guestbook {
  /* background-color: #f9ddb7; */
  padding: 20px 40px;
  border-top: 1px solid #706969;
}

/************  방명록 등록 부분 ************/
/* 전체 <div> */
.input-container {
  display: flex;
  flex-direction: column;
}

/* 이름, 비밀번호 <div> */
.input-name-pw-container {
  display: flex;
  width: 20%;
  flex-direction: row;
  justify-content: space-around;
}

/* 이름, 비밀번호 <input> */
.input-name,
.input-pw {
  width: 100%;
  height: 45%;
  border-radius: 3px;
  border: 1px solid #706969;
  padding: 2px 6px;
  margin-right: 10px;
}

/* 방명록 코멘트 <div> */
.input-message-container {
  width: 90%;
  height: 100%;
  margin: 10px 10px 0px 0px;
}

/* 방명록 코멘트 <textarea> */
.input-message {
  width: 21.4%;
  height: 125px;
  /* background-color: #8b8b8b1c; */
  resize: none;
  color: black;
  padding: 2px 6px;
  border-radius: 3px;
  border: 1px solid #706969;
}

/* 등록 버튼 <div> */
.input-submit-container {
  display: flex;
  width: 5%;
}

/* 등록 버튼 <button> */
#addEntry {
  width: 45px;
  height: 24px;
  border: none;
  color: #fff;
  background: #706969;
  border-radius: 6px;
  margin-right: 10px;
}

/************ 방명록 보여지는 부분 ************/

/* 방명록 전체 <div> */
.show-container {
  /* background-color: rgba(215, 215, 215, 0.606); */
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 방명록 이름, 삭제 버튼 <div> */
.show-name-container {
  font-weight: bold;
  margin: 10px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
}

/* 방명록 코멘트 <span> */
.show-container > span {
  display: inline-block;
  word-wrap: break-word;
  margin-left: 10px;
}

/* 방명록 날짜 <span> */
span.show-date {
  margin-top: 25px;
  font-size: 12px;
  color: grey;
  /* margin: 5px 0px 5px 5px; */
}

.guestbook-entries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto 20px auto;
}

#guestbook h2 {
  padding: 10px 0;
}

.guest-massage {
  margin: 0px 0px 5px 5px;
}

/* #guest-message {
  width: 220px;
  height: 20px;
  border-radius: 6px;
  border: 2px solid #706969;
  padding: 2px 6px;
} */

/* 삭제 모달 */
#passwordModal > div > div {
  margin: 30vh auto 0px auto;
}
/* 삭제 모달 끝 */

/* .guest-name {
  background-color: rgb(112, 105, 105);
  color: white;
  border-radius: 6px 0 0 6px;
  width: 23%;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid grey;
 } 

.guest-message {
  width: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  width: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}
*/

.deleteBtn {
  opacity: 0.7;
  width: 45px;
  height: 24px;
  padding: 2px;
  border: none;
  color: #fff;
  background: #706969;
  border-radius: 6px;
}

/* 방명록 css (임시) 끝 */

.beforeButton {
  width: 40px;
}

.section {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.afterButton {
  display: flex;
  cursor: grab;
}

/* want to see other member */
.showP {
  opacity: 0;
}
.hoverEffect {
  opacity: 1;
}
