* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  list-style-type: none;
  color: inherit;
}
h2 {
  width: 300px;
  margin: 40px auto;
  font-weight: 300;
  font-size: 30px;
}
.header {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
}
.memberIntroduce {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.image > img {
  width: 300px;
  height: 400px;
}
.introBox {
  width: 300px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.box {
  width: 200px;
  height: 100px;
  background-color: rgb(210, 233, 253);
  text-align: center;
  line-height: 100px;
}

.box5 img {
  width: 20px;
  height: 20px;
}
.box2 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.box3 {
  grid-column: 3/4;
  grid-row: 3/4;
}
.box4 {
  grid-column: 2/3;
  grid-row: 4/5;
}
.box5 {
  grid-column: 1/2;
  grid-row: 5/6;
}

/* 방명록 css (임시입니다) */
.guestbook-entries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  margin: 20px auto 20px auto;
}

.guest-book {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  border: 1px solid grey;
}

.guest-name {
  width: 10%;
  border: 1px solid grey;
}

.guest-message {
  width: 70%;
  border: 1px solid grey;
}

.date {
  width: 10%;
  border: 1px solid grey;
}