/* 팀 소개 CSS 시작 */
.team-container {
  text-align: center;
}

.team-desc {
  /* background-color: pink; */
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-detail {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  padding: 50px;
  margin-top: 5px;
  width: 80%;
}

.msg-item {
  padding: 10px;
}

.msg-item img {
  width: 100px;
}

.mg-20 {
  margin-top: 20px;
}

.msg-item ul {
  list-style-type: none;
  /* text-align: left; */
}

.msg-item li {
  margin-bottom: 15px;
}

.team-detail img {
  width: 40%;
}

.msg-item span {
  font-weight: 900;
}

/* 변경 */
.msg-item {
  width: 25%;
  background-color: gray;
  margin-left: 10px;
}

.member-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: pink; */
  margin-top: 100px;
}

.member {
  width: 80%;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 300px 300px;
  grid-gap: 50px;
  justify-content: center;
  margin-top: 5px;
}

.member-card {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.member-card:hover {
  transform: scale(1.08);
}

.member-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member-item div {
  margin-top: 50px;
}

.member img {
  width: 100%;
  border-radius: 50%;
}

.member div {
  font-size: 30px;
}
/* 팀 소개 CSS 끝 */

/*폰트*/
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/*갤러리*/
.gallery {
  width: 100%;
  margin: 0 auto;
  background-color: #ddd;
}
.gallery h2 {
  font-family: "S-CoreDream-3Light";
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  padding: 40px 0;
  background-color: #fff;
}
.gallery-container {
  max-width: 1350px;
  margin: 0 auto;
  background-color: #ddd;
  width: 100%;
  height: 800px;
  display: block;
  padding: 40px 60px;
}
.gallery-wrapper {
  width: 600%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.overHidden {
  overflow: hidden;
  height: 100%;
}

.gallery-item {
  width: 100%;
  height: 100%;
}
.gallery-item ul {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
.gallery-item ul li {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.gallery-item ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.gallery-btn {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
}

.gallery-btn.active {
  background-color: #e0ec83;
  transform: scale(1.3);
}
